In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import pandas as pd
import numpy as np
import datetime

In [32]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 1.7 MB/s eta 0:00:011
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [74]:
data = pd.read_excel(os.path.join('..', 'Olympics.xls'))
data

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,USA,1505
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,1626
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,1626
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,1621
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,1623
...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98

In [75]:
data = data[data.Result != "None"]

In [76]:
data = pd.get_dummies(data, columns=['Gender'])
data.head()

,Event,Location,Year,Medal,Name,Nationality,Result,Gender_M,Gender_W
0,10000M Men,Rio,2016,G,Mohamed FARAH,USA,1505,1,0
1,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,1626,1,0
2,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,1626,1,0
3,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,1621,1,0
4,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,1623,1,0

In [61]:
#data = data.drop(columns=['Gender_M'])
#data.head()

,Event,Location,Year,Medal,Name,Nationality,Result,Gender_W
0,10000M Men,Rio,2016,G,Mohamed FARAH,USA,1505,0
1,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,1626,0
2,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,1626,0
3,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,1621,0
4,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,1623,0

In [92]:
# Assign X (data) and y (target)
x = data[['Result','Gender_W','Gender_M']]
y = data["Event"]
print(x.shape, y.shape)

(2351, 3) (2351,)

In [98]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=5,test_size=0.5)

In [99]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier

LogisticRegression(max_iter=1000)

In [100]:
classifier.fit(x_train, y_train)

/Users/eobodoechine/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=1000)

In [101]:
print(f"Training Data Score: {classifier.score(x_train, y_train)}")
print(f"Testing Data Score: {classifier.score(x_test, y_test)}")

Training Data Score: 0.03489361702127659
Testing Data Score: 0.03231292517006803

In [90]:
predictions = classifier.predict(x_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['400M Hurdles Men' '800M Men' '400M Hurdles Men' '400M Hurdles Men'
 '5000M Men' '800M Men' '400M Hurdles Men' '10000M Men' 'Decathlon Men'
 '400M Hurdles Men']
First 10 Actual labels: ['400M Hurdles Men', '4X100M Relay Men', '400M Hurdles Men', '400M Men', '1500M Women', 'Long Jump Men', '4X100M Relay Women', '5000M Men', '10000M Men', '4X100M Relay Men']

In [97]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

            Prediction            Actual
0     400M Hurdles Men  400M Hurdles Men
1             800M Men  4X100M Relay Men
2     400M Hurdles Men  400M Hurdles Men
3     400M Hurdles Men          400M Men
4            5000M Men       1500M Women
...                ...               ...
1171  400M Hurdles Men          400M Men
1172          800M Men   Triple Jump Men
1173  400M Hurdles Men          400M Men
1174        10000M Men         5000M Men
1175          200M Men        200M Women

[1176 rows x 2 columns]

In [103]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.9107142857142857

In [105]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(x_train, y_train)
rf.score(x_test, y_test)

0.9115646258503401

In [107]:
sorted(zip(rf.feature_importances_, x), reverse=True)

[(0.9642133354087857, 'Result'),
 (0.018834231479281312, 'Gender_M'),
 (0.016952433111932824, 'Gender_W')]

In [116]:
z=list(data[['Result','Gender_W','Gender_M']])

In [121]:
pip install graphviz

Collecting graphviz
  Downloading graphviz-0.17-py3-none-any.whl (18 kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.17
Note: you may need to restart the kernel to use updated packages.

In [122]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = z, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

FileNotFoundError: [Errno 2] "dot" not found in path.